[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mhcnuggetsr"]
	path = mhcnuggetsr
	url = https://github.com/richelbilderbeek/mhcnuggetsr
[submodule "netmhc2pan"]
	path = netmhc2pan
	url = https://github.com/richelbilderbeek/netmhc2pan
[submodule "pirouette"]
	path = pirouette
	url = https://github.com/richelbilderbeek/pirouette
[submodule "pureseqtmr"]
	path = pureseqtmr
	url = https://github.com/richelbilderbeek/pureseqtmr
